
video{
  min-width: 100%;
  position: fixed;
  top:0;
  z-index: -999;
}
body{
  margin: 0;
  background-color: rgb(10, 10, 10);
  color: white;
  scroll-behavior: smooth;
}
#video{
  height: 550px;
  padding-bottom: 50px;
  padding-top: 50px;
  background-color: rgba(0, 0, 0, 0.4)
}
header{
    width: 100%;
    position: fixed;
    padding: 5px;
    background: black;
    top: 0;
    z-index: 999;
}
img{
  width: 75px;
  height: auto;
}

#images{
  text-align: center;
  margin-top: 200px;
}
#images img{
  width: 28%;
  height: 200px;
  border: 2px solid black;
}
#images img:hover{
  transform: scale(1.2);
  transition: 0.5s;
}
::-webkit-scrollbar {
    width: 10px;

  }
::-webkit-scrollbar-track {
  background: #ffffff; 
}

::-webkit-scrollbar-thumb {
  background: rgb(22, 22, 22); 
}
.dropbtn {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 10px;
  font-size: 16pt;
  border: none;
  margin: 15px;
}
.dropdown {
    float: right;
 
}
.dropdown-content {
  display: none;
  background-color: rgba(0, 0, 0);
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  position: absolute;
  z-index: 100;
  right: 0;
}

.dropdown-content a {
  color: white;
  padding: 20px 50px;
  font-size: 16pt;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {color: rgb(133, 0, 0)}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #424242;}
h1{
  font-family: 'Poiret One', cursive;
  font-size: 32pt;
}
p{
  font-size: 18pt;
  
}
h1 a{
  text-decoration: none;
  color: white;

}
h1 a:hover{
  color: rgb(133, 0, 0)
}

#banner{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 0 0 0 20px;
}
#form{
  border: 2px solid grey;
  border-radius: 8pt;
  padding: 50px;
  display: block;
  text-align: center;
  margin: 200px 200px;
  background-color: black;
}
form{
  display: inline-block;
  text-align: left
}
footer{
  background-color: black;
  color: white;
  padding: 50px;
}
i{
  font-size: 18pt;
  color: white;
  margin: 6px;
  float:left;
}

a i:hover{
  color: rgb(133, 0, 0);
  cursor: pointer;
}
#team { 
  background-image: url("VVJT_LOGO.jpg");
  background-size: contain;
  height: 300px; 
  background-color: black;
  padding: 200px 150px;
  text-align: center;
  border: 25px solid black;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  padding-bottom: 50px;
  padding-top: 50px;
}
h2{
    position: relative;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45pt;
    background-color: rgba(18, 18, 24, 0.623);
    padding: 10px;

}
#text{
    background-color: black;
    padding: 20px 200px;
    text-align: center;
}
#aircraft{
  background-image: url("l39.jpg");
  background-size: cover;
  height: 300px; 
  background-color: black;
  padding: 200px 150px;
  text-align: center;
  border: 20px solid black;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  padding-bottom: 50px;
  padding-top: 50px;
}
#show{
  background-image: url("bananaPass.jpg");
  background-size: cover;
  height: 300px; 
  background-color: black;
  padding: 200px 150px;
  text-align: center;
  border: 20px solid black;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  padding-bottom: 50px;
  padding-top: 50px;
}
input{
  width: 100%;
}

textarea{
  width: 100%;
  height: 200px;
}
button{
  border-radius: 8pt;
  background-color: white;
  border: 2px solid rgb(133, 0, 0);
  font-size: 14pt;
  padding: 5px;
}
button:hover{
  background-color: rgb(133, 0, 0);
  color: white;
  cursor: pointer;
}
h3{
  font-size: 18pt;
}