video{
  min-width: 100%;
  position: fixed;
  top:0;
  z-index: -999;
}
body{
  margin: 0;
  background-color: rgb(10, 10, 10);
  color: white;

}
label{
  font-size: 14pt;
}
#video{
  height: 550px;
  padding-bottom: 50px;
  padding-top: 50px;
  background-color: rgba(0, 0, 0, 0.4)
}
header{
    width: 100%;
    position: fixed;
    padding: 5px;
    background: black;
    top: 0;
    z-index: 999;
    text-align: center;
}
img{
  width: 50px;
  height: auto;
}
#images{
  text-align: center;
  margin-top: 200px;
}
#images img{
  width: 28%;
  height: 200px;
  border: 2px solid black;
}
#images img:hover{
  transform: scale(1.05);
  transition: 0.6s;
  
}
::-webkit-scrollbar {
    width: 10px;
  }
::-webkit-scrollbar-track {
  background: #ffffff; 
}
::-webkit-scrollbar-thumb {
  background: rgb(22, 22, 22); 
}
.dropbtn {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 10px;
  font-size: 16pt;
  border: none;
  margin: 15px;
 
}
.dropdown {
  float: right;     
}
.dropdown-content {
  display: none;
  background-color: rgba(0, 0, 0);
  min-width: 200px;
  position: absolute;
  z-index: 100;
  right: 0;  
  text-align: right;
}
.dropdown-content a {
  color: white;
  padding: 20px 50px;
  font-size: 16pt;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {color: rgb(133, 0, 0)}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #424242;}
h1{
  font-family: 'Poiret One', cursive;
  font-size: 16pt;
  
}
#text p{
  font-size: 18pt;
}
h1 a{
  text-decoration: none;
  color: white;
}
h1 a:hover{
  color: rgb(133, 0, 0)
}
#banner{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
#head{
  display: flex;
  justify-content: space-between;
}
#form{
  border: 2px solid grey;
  border-radius: 8pt;
  padding: 30px;
  display: block;
  text-align: center;
  margin: 200px 20px;
  background: linear-gradient(to bottom, #690202 0%, #272121 100%);
}
#form p{
  font-size: 14pt;
}
form{
  display: inline-block;
  text-align: left;
}
#logo{
  margin: 10px;
}
#other{
  margin: 200px 20px;
  text-align:  center;
}
.dropdown img{
  height: auto;
  width: 150px;
}
footer{
  background-color: black;
  color: white;
  padding: 50px;
}
#links{
  display: flex;
  justify-content: left;
  align-items: center;

}
i{
  font-size: 20pt;
  color: white;
  margin: 6px;

}
a i:hover{
  color: rgb(133, 0, 0);
  cursor: pointer;
}
#team { 
  background-image: url("VVJT_LOGO.jpg");
  background-size: 375px;
  height: 300px;
  padding: 200px 150px;
  text-align: center;
  border-top: 20px solid black;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  padding-bottom: 50px;
  padding-top: 50px;
  background-color: black;
}
h2{
    position: relative;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45pt;
    background-color: rgba(18, 18, 24, 0.623);
    padding: 10px;
}
#text{
    padding: 20px 200px;
    text-align: center;
    background-color: rgb(10, 10, 10);
}
#aircraft{
  background-image: url("l39.jpg");
  background-size: cover;
  height: 300px; 
  background-color: rgb(10, 10, 10);
  padding: 200px 150px;
  text-align: center;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  padding-bottom: 50px;
  padding-top: 50px;
}
#show{
  background-image: url("bananaPass.jpg");
  background-size: cover;
  height: 300px; 
  padding: 200px 150px;
  text-align: center;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  padding-bottom: 50px;
  padding-top: 50px;
}
input{
  width: 100%;
  margin: 10px;
}
textarea{
  width: 100%;
  height: 200px;
  margin: 10px;
}
button{
  border-radius: 8pt;
  background-color: white;
  border: 2px solid rgb(10, 10, 10);
  font-size: 14pt;
  padding: 5px;
  margin: 0 0 30px 10px; 
}
button:hover{
  background-color: rgb(10, 10, 10);
  color: white;
  cursor: pointer;
}
h3{
  font-size: 20pt;
  text-align: center; 
  margin: 10px; 
}
#about{
  margin-top: 200px;
}
.flex{
  border-bottom: 1px solid rgb(71, 71, 71);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
#about img{
  width: auto;
  height: 11rem;
  margin: 20px; 
}
.intro-text{
  text-align: center;
  font-size: 14pt;
  padding: 20px;
  opacity: 0;
  transform: translateY(20px);
  transition: 1s all ease-in; 
  position: initial
}
.intro-text a{
  color: white;
}
.intro-text a:hover{
  color: rgb(133, 0, 0);
}

.intro-appear{
  opacity: 1;
  transform: translateY(0px);
}
h4{
  font-size: 18pt;
}
@keyframes left{
  0%   { transform: translate( -200%, 0); }
  100% { transform: translate( 0%, 0); }
}
@keyframes right{
  0%   { transform: translate( 200%, 0); }
  100% { transform: translate( 0%, 0); }
}
#thunder{
  animation-name: right;
  animation-duration: 1.2s;
}
#blue{
  animation-name: left;
  animation-duration: 1.2s;
}
h5{
  font-size: 16pt;
}
li{
  list-style: none;
  padding: 5px;
}
.flex-3{
  display: flex;
  justify-content: space-between;
}
form em{
  margin: 30px;
  font-size: 14pt;
  text-align: center;
}
form em a{
  color:white;
}
form em a:hover{
  color: rgb(133, 0, 0);
}
footer{
  text-align: center;
  padding: 20px;
  background-color: inherit;
}
@media (min-width: 1025px){
  .flex{
    flex-direction: row;
    padding: 20px;
  
  }
  h1{
    font-size: 32pt;
  }
  #about{
    margin: 200px 150px;
  }
  .intro-text{
    width: 300;
    margin: 20px;
  }
  #about img{
    height: 275px;
  }
  #other{
    margin: 200px 150px;
  }
  h3{
    font-size: 32pt;
  }
  #form{
    margin: 200px 300px;
  }
  img{
    width: 75px;
  }
 
}